extends layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary SUS - Panel del Administrador

    p.mb-3 Administrador: 
      strong= adminName

    h2.mb-3 Resumen general
    ul.list-group.mb-4
      li.list-group-item Asegurados SUS registrados: 
        strong= totalPatients
      li.list-group-item Médicos activos: 
        strong= totalMedics
      li.list-group-item Centros de salud registrados: 
        strong= totalCenters
      li.list-group-item Especialidades registradas: 
        strong= totalSpecialties
      li.list-group-item Usuarios registrados: 
        strong= totalUsers

    h2.mb-3 Acciones rápidas
    ul.list-group
      li.list-group-item: a.btn.btn-sm.btn-success.me-2(href="/admin/patients/new") ➕ Registrar nuevo asegurado SUS
      li.list-group-item: a.btn.btn-sm.btn-success.me-2(href="/admin/medics/new") ➕ Registrar nuevo médico
      li.list-group-item: a.btn.btn-sm.btn-success.me-2(href="/admin/specialties/new") ➕ Nueva especialidad
      li.list-group-item: a.btn.btn-sm.btn-success.me-2(href="/admin/healthcenters/new") ➕ Nuevo centro de salud
      li.list-group-item: a.btn.btn-sm.btn-primary(href="/admin/availabilities") 🕒 Configurar horarios