extends layout

block content
  h1 Appointment Form
  form(action='/users/search' method='GET' class='mb-3')
            input.form-control(type='search' placeholder='Buscar por nombres, usuarios o rol...' name='query')
            button.btn.btn-outline-success(type='submit') Buscar

        table.table.table-striped
            thead
                tr
                    th ID
                    th Nombre Completo
                    th Nombre de Usuario
                    th Rol
                    th Acciones
            tbody
                each user in users
                    tr
                        td #{user.id}
                        td #{user.fullname}
                        td #{user.username}
                        td #{user.role}
                        td
                            a(href=`/users/${user.id}/edit` class='btn btn-warning btn-sm mr-2') Editar
                            form(action=`/users/${user.id}/delete` method='POST' style='display:inline')
                                button(type='submit' class='btn btn-danger btn-sm') Eliminar
