extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Pacientes SUS registrados

    a.btn.btn-success.mb-3(href="/admin/patients/new") Registrar nuevo paciente

    table.table.table-striped.table-bordered.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre completo
          th CI
          th Código acceso (Contraseña)
          th Centro de salud
          th Resumen médico
          th Fecha registro
          th Acciones
      tbody
        each p in patients
          tr
            td= p.id
            td= p.User.fullname
            td= p.User.username
            td= p.User.password
            td= p.HealthCenter ? p.HealthCenter.name : "No asignado"

            // SI EL CAMPO ESTÁ VACÍO, MOSTRAR GUION
            td= p.medicalHistorySummary || "—"

            td= p.createdAt.toLocaleDateString('es-BO')

            td
              a.btn.btn-sm.btn-primary.me-1(href=`/admin/patients/${p.id}/edit`) Editar
              a.btn.btn-sm.btn-danger(href=`/admin/patients/${p.id}/delete`) Eliminar
