extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Especialidades registradas

    a.btn.btn-success.mb-3(href="/admin/specialties/new") Registrar nueva especialidad

    table.table.table-striped.table-bordered.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre
          th ¿General?
          th Acciones
      tbody
        each s in specialties
          tr
            td= s.id
            td= s.name
            td= s.isGeneral ? 'Sí' : 'No'
            td
              a.btn.btn-sm.btn-primary.me-1(href=`/admin/specialties/${s.id}/edit`) Editar
              a.btn.btn-sm.btn-danger(href=`/admin/specialties/${s.id}/delete`) Eliminar
