extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Editar médico

    form(action=`/admin/medics/${medic.id}/edit` method="POST")
      .mb3
        label.form-label Nombre completo:
        input.form-control(type="text" name="fullname" value=medic.User.fullname required)

      .mb3
        label.form-label CI / Usuario:
        input.form-control(type="text" name="username" value=medic.User.username required)

      .mb3
        label.form-label Especialidad:
        select.form-select(name="specialtyId" required)
          each s in specialties
            option(value=s.id selected=(s.id === medic.specialtyId))= s.name

      .mb3
        label.form-label Centro de salud:
        select.form-select(name="healthCenterId" required)
          each c in centers
            option(value=c.id selected=(c.id === medic.healthCenterId))= c.name

      button.btn.btn-primary(type="submit") Actualizar médico
