extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Médicos registrados

    a.btn.btn-success.mb-3(href="/admin/medics/new") Registrar nuevo médico


    table.table.table-striped.table-bordered.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre
          th Usuario (CI)
          th Especialidad
          th Centro
          th Acciones
      tbody
        each m in medics
          tr
            td= m.id
            td= m.User.fullname
            td= m.User.username
            td= m.Specialty.name
            td= m.HealthCenter.name
            td
              a.btn.btn-sm.btn-primary.me-1(href=`/admin/medics/${m.id}/edit`) Editar
              a.btn.btn-sm.btn-danger(href=`/admin/medics/${m.id}/delete`) Eliminar
