extends ./layout_patient

block content

  .container.mt-4
    .row.justify-content-center
      .col-md-8

        // Mensaje de alerta
        if alert
          .alert.alert-success(role="alert")
            h4.alert-heading= alert.title
            p= alert.msg

        // Si tiene ficha
        if ficha
          .card.shadow-sm
            .card-body

              h2.text-success.mb-4 ✔ Tienes una ficha

              p.mb-2
                strong Fecha: 
                |  #{ficha.date}

              p.mb-2
                strong Hora:
                |  #{ficha.time}

              p.mb-2
                strong Médico:
                |  #{ficha.Availability.Medic.User.fullname}

              p.mb-2
                strong Especialidad:
                |  #{ficha.Availability.Medic.Specialty.name}

              p.mb-2
                strong Centro de salud:
                |  #{ficha.Availability.Medic.HealthCenter.name}

              .mt-3
                p Recuerda presentarte 
                  strong 15 minutos antes 
                p de tu cita y llevar tu 
                  strong registro/afiliación del SUS.


        else
          .card.shadow-sm
            .card-body.text-center

              h2.text-danger.mb-3 No tienes ficha para hoy.

              a.btn.btn-primary.w-100(href="/patient/nueva-ficha") Sacar una ficha nueva →
              br
              br
