extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Usuarios del sistema

    a.btn.btn-success.mb-3(href="/admin/users/new") ➕ Crear nuevo usuario

    if users.length === 0
      p No hay usuarios registrados.
    else

    table.table.table-striped.table-bordered.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre
          th Usuario
          th Rol
          th Acciones

      tbody
        each user in users
          tr
            td= user.id
            td= user.fullname
            td= user.username
            td= user.role
            td
              a.btn.btn-sm.btn-primary.me-1(href=`/admin/users/${user.id}/edit`) ✏ Editar
              a.btn.btn-sm.btn-danger(href=`/admin/users/${user.id}/delete`) ❌ Eliminar
