extends ../layout_admin

block content
  h1.mb-4.text-primary Centros de salud registrados

  a.btn.btn-success.mb-3(href="/admin/healthcenters/new") Registrar nuevo centro

  table.table.table-striped.table-bordered.table-hover
    thead.table-dark
      tr
        th ID
        th Nombre
        th Nivel
        th Dirección
        th Ciudad
        th Acciones
    tbody
      each center in centers
        tr
          td= center.id
          td= center.name
          td= center.level
          td= center.address
          td= center.city
          td
            a.btn.btn-sm.btn-primary.me-1(href=`/admin/healthcenters/${center.id}/edit`) Editar
            a.btn.btn-sm.btn-danger(href=`/admin/healthcenters/${center.id}/delete`) Eliminar
