extends ../layout_admin

block content
  h1 Editar horario de atención

  form(method="POST" action=`/admin/availabilities/${availability.id}/edit`)

    label Especialidad:
    input(type="text" readonly value=availability.Medic.Specialty.name)
    br

    label Médico:
    input(type="text" readonly value=availability.Medic.User.fullname)
    input(type="hidden" name="medicId" value=availability.medicId)
    br

    label Centro de Salud:
    input(type="text" readonly value=availability.HealthCenter.name)
    input(type="hidden" name="healthCenterId" value=availability.healthCenterId)
    br

    label Día:
    select(name="dayOfWeek" required)
      option(value="1" selected=availability.dayOfWeek == "1") Lunes
      option(value="2" selected=availability.dayOfWeek == "2") Martes
      option(value="3" selected=availability.dayOfWeek == "3") Miércoles
      option(value="4" selected=availability.dayOfWeek == "4") Jueves
      option(value="5" selected=availability.dayOfWeek == "5") Viernes
    br

    label Hora inicio:
    input(type="time" name="startTime" required value=availability.startTime)
    br

    label Hora fin:
    input(type="time" name="endTime" required value=availability.endTime)
    br

    label Duración (min):
    input(type="number" min="5" max="60" name="durationMinutes" required value=availability.durationMinutes)
    br

    label Estado:
    select(name="isActive")
      option(value="true" selected=availability.isActive) Activo
      option(value="false" selected=!availability.isActive) Inactivo
    br
    br

    button(type="submit") Guardar cambios
    |  
    a(href="/admin/availabilities") Cancelar
