extends ../layout_admin

block content
  h1 Horarios de atención

  a(href="/admin/availabilities/new") Registrar nuevo horario

  table(border="1" cellpadding="6")
    thead
      tr
        th ID
        th Médico
        th Especialidad
        th Centro
        th Día
        th Inicio
        th Fin
        th Duración (min)
        th Estado
        th Acciones
    tbody
      each a in availabilities
        tr
          td= a.id
          td= a.Medic.User.fullname
          td= a.Medic.Specialty.name
          td= a.HealthCenter.name
          td 
            - const days = ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"]
            = days[a.dayOfWeek]
          td= a.startTime
          td= a.endTime
          td= a.durationMinutes
          td= a.isActive ? "Activo" : "Inactivo"
          td
            a(href=`/admin/availabilities/${a.id}/edit`) Editar
            |  | 
            a(href=`/admin/availabilities/${a.id}/delete`) Eliminar
